$body_color: #4d4d4d, #f5f5f5;
$todo_app_color: false, #fff;
$h1_color: false, #f5f5f5;
$toggle_label_before_color: #e6e6e6;
$destroy_color: #cc9a9a;
$destroy_hover_color: #af5b5e;
$todo-app-footer_color: #777;
$todo-app-todo-input_background: rgba(0, 0, 0, 0.003);
$todo-app-link_selected_border-color: rgba(175, 47, 47, 0.2);