$body_font: (14px 'Helvetica Neue', Helvetica, Arial, sans-serif), 300, false, 1.4em;

$h1_font: false, 100,  100px, false;

$toggle_label_font_size: 0;
$toggle_label_before_font_size: 22px;

$todo-app-todo-item_font-size: 24px;

$label_line-height: 1.2;

$edit_font-size: 24px;
$edit_line-height: 1.4em;

$destroy_font-size: 30px;

$todo-app-todo-input_font: false, false, 24px, 1.4em;
$clear-completed_line-height: 20px;