.selected-field{
	bottom: -14px;
}

.date-picker{
	width: 256px;
	display: inline-block;
	position: relative;
}
.note-field-wrapper{
	padding-left : 10px;
	padding-right: 10px;
	max-width: 512px;
	margin: 0 auto 0 auto;
}
